<div class="job-entry">
    <h4 class="job-entry-header">{{ include.title }}</h4>
    {% if include.subtitle %}
    <h5 class="job-entry-header">{{ include.subtitle }}</h5>
    {% endif %}
    {% if include.location or include.time %}
        <div class="job-entry-content">
            {% if include.location %}
                <i>{{ include.location }}</i>
            {% endif %}
            {% if include.location and include.time %}
                <span class="job-entry-divider"><b>&nbsp;|&nbsp;</b></span>
            {% endif %}
            {% if include.time %}
                <i>{{ include.time }}</i>
            {% endif %}
        </div>
    {% endif %}
</div>
