ul.horizontal-list {
  display: flex;
  //justify-content: space-between;
  margin-top: 0em;
  margin-left: -40px;
  flex-wrap: wrap;

  li {
    display:inline;
    margin-right: 1em;
  }

  li a {
    text-decoration: none;
    font-weight: normal
  }

}

.job-entry {
    margin: 0.8em 0 0 0;

    .job-entry-header {
        margin: 0;
        color: var(--text);
    }

    .job-entry-content {
        text-align: right;
        color: var(--text-secondary);
        .job-entry-divider {
            text-align: center;
            color: var(--grad-4);
            b {
                color: inherit;
            }
        }
    }
}

.card {
  padding: 1em;
  border: 1px var(--links) solid;
  width: 11em;
  height: auto;
  text-align: center;
  font-size: 1em;
  align-items: center;
  background-image:
      linear-gradient(
          to bottom,
          var(--bg-secondary) 0%, var(--bg-secondary) 95%, var(--grad-4) 100%)
  ;
  background-image:
      linear-gradient(
          to bottom in oklab,
          var(--bg-secondary) 0%, var(--bg-secondary) 95%, var(--grad-4) 100%)
  ;
  background-color: var(--bg-secondary);
  background-repeat: no-repeat;
  margin-bottom: 0.8em;
  border-radius: 0.5em;

  .header {
      color: var(--links);
      font-size: 1.2em;
      font-weight: bold;
  }

  .body {
      color: var(--links);
    font-size: 0.9em;
  }

  hr {
    margin: 0.5em 0;
  }

}

/* Responsive cards - one column layout on small screens */
@media screen and (max-width: 750px) {
  ul.horizontal-list li.card {
    width: 100%;
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    a, .header {
      font-size: 1em;
    }
  }
}
